

<div class="container">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <h1 class="centered">Vote Summary</h1><br><br>
            <table>
                <thead>
                    <tr>
                        <th>Project</th>
                        <th>Team</th>
                        <th>Votes</th>
                    </tr>
                </thead>
                <tbody>
            
                    <% @projects.each do |project| %>
                        <div class="row">
                            <tr>
                                <div class="col-md-4">
                                    <td><%= project.title %></td>
                                </div>
                                <div class="col-md-4">
                                    <td><%= project.team_name %></td>
                                </div>
                                <div class="col-md-4">
                                    <td><%= @votes.where(:project_id => project.id, :vote_value => true).count %></td>
                                </div>
                            </tr>
                        </div>
                    <% end %>
                    
                </tbody>
            </table>
        </div>
        <div class="col-md-2"></div>
    </div>
    <br><br>

    <%= link_to 'Back', projects_path %>

</div>