<h1>Vote Summary</h1>


<table>
    <thead>
        <tr>
            <th>Project</th>
            <th>Team</th>
            <th>Votes</th>
        </tr>
    </thead>
    <tbody>
        
        <% @projects.each do |project| %>
            <tr>
                <td><%= project.title %></td>
                <td><%= project.team_name %></td>
                <!--<td><#%= @votes.where(:project_id => @project.id, :vote_value => true).count %></td>-->
            </tr>
        <% end %>
        
    </tbody>
</table>





<%= link_to 'Back', projects_path %>